# This section gets filled out on end-user machines if they have
# additional input devices connected. The keyboard is ALWAYS device 0
# and the mouse is ALWAYS device 1 so these don't have to be listed,
# but I support listing them anyway since that tends to make things
# clear when figuring out what index to use in your control.
# Normally the guid has the form
# DWORD WORD WORD BYTE BYTE BYTE BYTE BYTE BYTE BYTE BYTE.
# They can be listed in hex or decimal.
#
# To define your own meta keys you can edit the following table. The
# first entry is which meta-key bit you are defining, this number must
# be between 1 and 32.  The second number is a device index from the
# table above, for example 0 is your keyboard and 1 is your mouse.
# The third number is the identifier for which button is used for the
# key.  Note that multiple keys can toggle the same meta-key bit, for
# example both the left and right keyboard keys toggle the same bit.
# Later in the Bindings table you can specify that one or more
# meta-keys are required by combining the bits from the MetaKeys
# table, for example Control+Alt would use a value of 0x06.  Note that
# only buttons can be used as meta-keys, you cannot use Axis, Slider,
# or POV controls as meta-keys.
#
# Device is an index from the device table. KeyIndex is a matching
# DIK_*, DIMOFS_*, or DIJOFS_* define (see DInput.h for possible
# values) depending on whether the device is a Keyboard, Mouse, or
# Joystick/Gamepad.  Controls can be modidied by an optional MetaKey
# value, this value is an integer which combines any number of the
#  bits defined in the MetaKeys table.  The same button can be defined
# with different meta-key values but not with exactly the same
# meta-key modifiers.  When selecting an action in response to user
# input the action that matches the largest number of modifiers is
# the action that gets selected.  For example, if I define an action
# for X, Shift+X, and Control+X and then I enter Alt+Shift+X this
# will match the Shift+X action.  If two or more actions match the
# same number of bits then the action with the lowest index wins.
# Using the previous example, if I pressed Ctrl+Shift+X it will match
# Shift+X and not Control+X because shift is assigned a lower index
# in the MetaKeys table above (shift is index 1, control is index 2).
# ActivationType is a modifier for how the button is pressed, for
# example you can say Up, Down, DblClick, Tap, or Analog.  You can
# modify DblClick with the keyword Nearby to indicate that you only
# want a double click to count if the mouse cursor hasn't moved very
# far.  You can combine these bits to get notifed of multiple events.
# By default you get Down and Up.  Note that a "Tap" is also a
# ButtonUp, the tap is just a modifier.  Also note that DblClick is
#  also a ButtonDown.  No two controls can register for the exact same
# Activation of the same control but you can have different actions
# for ButtonDown and DblClick, or ButtonUp and Tap.  Oh, SubControl
# is used for forming virtual buttons from sub-ranges of an analog
# control, valid values are POVUp, POVRight, POVDown, POVLeft,
# AxisPositive, and AxisNegative.
"User Defined Keymap" [ 00000000-0000-0000-0000-000000000000 ]

Devices
[
  Keyboard [ GUID_SysKeyboard ]
  Mouse [ GUID_SysMouse ]
  Virtual [ GUID_Virtual ]
  Joystick [ 5A10E610-B5BF-11EB-8001-444553540000 ]
  Joystick [ F6DCDD00-5247-11EF-8002-444553540000 ]
  Joystick [ F6DD2B20-5247-11EF-8004-444553540000 ]
  Joystick [ F6DDEE70-5247-11EF-8006-444553540000 ]
  Joystick [ F6DE3C90-5247-11EF-8009-444553540000 ]
  Joystick [ 5A135710-B5BF-11EB-8005-444553540000 ]
  Joystick [ F6DE63A0-5247-11EF-800A-444553540000 ]
  Joystick [ 5A15A100-B5BF-11EB-8006-444553540000 ]
  Joystick [ 5A135710-B5BF-11EB-8002-444553540000 ]
  Joystick [ 5A15A100-B5BF-11EB-8007-444553540000 ]
  Joystick [ 5A135710-B5BF-11EB-8003-444553540000 ]
  Joystick [ 5A135710-B5BF-11EB-8004-444553540000 ]
  Joystick [ GUID_SysJoystick ]
  Joystick [ GUID_XInput1 ]
  Joystick [ GUID_XInput2 ]
  Joystick [ GUID_XInput3 ]
  Joystick [ GUID_XInput4 ]
  Joystick [ 2464E500-8326-11EB-8001-444553540000 ]
  Joystick [ BAC41A40-23A6-11EC-8002-444553540000 ]
  Joystick [ BAC41A40-23A6-11EC-8004-444553540000 ]
  Joystick [ BAC44150-23A6-11EC-8006-444553540000 ]
  Joystick [ 7F0F6290-F427-11ED-8001-444553540000 ]
  Joystick [ E4A47B40-8327-11EB-8006-444553540000 ]
  Joystick [ 7F0FB0B0-F427-11ED-8002-444553540000 ]
  Joystick [ E4A51780-8327-11EB-8007-444553540000 ]
  Joystick [ 24655A30-8326-11EB-8002-444553540000 ]
  Joystick [ E4A53E90-8327-11EB-8008-444553540000 ]
  Joystick [ 24655A30-8326-11EB-8003-444553540000 ]
  Joystick [ 24655A30-8326-11EB-8004-444553540000 ]
  Joystick [ 27AC95F0-8326-11EB-8005-444553540000 ]
]

MetaKeys
[
  1 [ 0 DIK_LSHIFT ]
  1 [ 0 DIK_RSHIFT ]
  2 [ 0 DIK_LCONTROL ]
  2 [ 0 DIK_RCONTROL ]
  3 [ 0 DIK_LALT ]
  3 [ 0 DIK_RALT ]
  4 [ 0 DIK_LWIN ]
  4 [ 0 DIK_RWIN ]
  5 [ 1 DIMOFS_BUTTON3 ]
  6 [ 1 DIMOFS_BUTTON4 ]
  7 [ 1 DIMOFS_BUTTON0 ]
  8 [ 1 DIMOFS_BUTTON1 ]
]

Bindings
[
  Main
  [
    SELECTION_NEXT_PC [ User [ 1 DIMOFS_BUTTON4 ] ]
    SELECTION_NEXT_CREATURE [ User [ 1 DIMOFS_BUTTON3 ] ]
    CaptureScreenshot [ Old [ 0 DIK_SYSRQ ] ]
    CameraInstantMouseLook [ Old [ 1 DIMOFS_BUTTON2 ] ]
    CameraToggleTargetCam [ Old [ 0 DIK_X ] ]
    DressingRoom [ Old [ 1 DIMOFS_BUTTON0 ] 0x00000002 Up/Tap ]
    AutoLootAll [ Old [ 1 DIMOFS_BUTTON1 ] 0x00000001 Up/Tap ]
    ItemLinkToChat [ Old [ 1 DIMOFS_BUTTON1 ] 0x00000002 Up/Tap ]
    MultiUseItem [ Old [ 1 DIMOFS_BUTTON1 ] 0x00000004 Up/Tap ]
    MovementForwardCameraMovement [ Old [ 1 DIMOFS_BUTTON0 ] 0x00000080 ]
    MovementForwardCameraMovementToggleMouseSteer [ Old [ 1 DIMOFS_BUTTON1 ] 0x00000040 ]
    MovementLongJump [ Old [ 0 DIK_SPACE ] ]
    MovementHighJump [ Old [ 0 DIK_SPACE ] 0x00000001 ]
    MovementForward [ Old [ 0 DIK_W ] ]
    MovementForward [ Old [ 0 DIK_UPARROW ] ]
    MovementBackup [ Old [ 0 DIK_S ] ]
    MovementBackup [ Old [ 0 DIK_DOWNARROW ] ]
    MovementTurnOrStrafeLeft [ Old [ 0 DIK_A ] ]
    MovementTurnOrStrafeLeft [ Old [ 0 DIK_LEFTARROW ] ]
    MovementTurnOrStrafeRight [ Old [ 0 DIK_D ] ]
    MovementTurnOrStrafeRight [ Old [ 0 DIK_RIGHTARROW ] ]
    MovementStrafeLeft [ Old [ 0 DIK_Q ] ]
    MovementStrafeRight [ Old [ 0 DIK_E ] ]
    MovementWalkMode [ Old [ 0 DIK_INSERT ] ]
    MovementRunLock [ Old [ 0 DIK_NUMLOCK ] ]
    QUICKSLOT_1 [ Old [ 0 DIK_1 ] ]
    QUICKSLOT_2 [ Old [ 0 DIK_2 ] ]
    QUICKSLOT_3 [ Old [ 0 DIK_3 ] ]
    QUICKSLOT_4 [ Old [ 0 DIK_4 ] ]
    QUICKSLOT_5 [ Old [ 0 DIK_5 ] ]
    QUICKSLOT_6 [ Old [ 0 DIK_6 ] ]
    QUICKSLOT_7 [ Old [ 0 DIK_7 ] ]
    QUICKSLOT_8 [ Old [ 0 DIK_8 ] ]
    QUICKSLOT_9 [ Old [ 0 DIK_9 ] ]
    QUICKSLOT_10 [ Old [ 0 DIK_0 ] ]
    QUICKSLOT_11 [ Old [ 0 DIK_MINUS ] ]
    QUICKSLOT_12 [ Old [ 0 DIK_EQUALS ] ]
    QUICKSLOT_13 [ Old [ 0 DIK_1 ] 0x00000002 ]
    QUICKSLOT_14 [ Old [ 0 DIK_2 ] 0x00000002 ]
    QUICKSLOT_15 [ Old [ 0 DIK_3 ] 0x00000002 ]
    QUICKSLOT_16 [ Old [ 0 DIK_4 ] 0x00000002 ]
    QUICKSLOT_17 [ Old [ 0 DIK_5 ] 0x00000002 ]
    QUICKSLOT_18 [ Old [ 0 DIK_6 ] 0x00000002 ]
    QUICKSLOT_19 [ Old [ 0 DIK_7 ] 0x00000002 ]
    QUICKSLOT_20 [ Old [ 0 DIK_8 ] 0x00000002 ]
    QUICKSLOT_21 [ Old [ 0 DIK_9 ] 0x00000002 ]
    QUICKSLOT_22 [ Old [ 0 DIK_0 ] 0x00000002 ]
    QUICKSLOT_23 [ Old [ 0 DIK_MINUS ] 0x00000002 ]
    QUICKSLOT_24 [ Old [ 0 DIK_EQUALS ] 0x00000002 ]
    QUICKSLOT_25 [ Old [ 0 DIK_1 ] 0x00000004 ]
    QUICKSLOT_26 [ Old [ 0 DIK_2 ] 0x00000004 ]
    QUICKSLOT_27 [ Old [ 0 DIK_3 ] 0x00000004 ]
    QUICKSLOT_28 [ Old [ 0 DIK_4 ] 0x00000004 ]
    QUICKSLOT_29 [ Old [ 0 DIK_5 ] 0x00000004 ]
    QUICKSLOT_30 [ Old [ 0 DIK_6 ] 0x00000004 ]
    QUICKSLOT_31 [ Old [ 0 DIK_7 ] 0x00000004 ]
    QUICKSLOT_32 [ Old [ 0 DIK_8 ] 0x00000004 ]
    QUICKSLOT_33 [ Old [ 0 DIK_9 ] 0x00000004 ]
    QUICKSLOT_34 [ Old [ 0 DIK_0 ] 0x00000004 ]
    QUICKSLOT_35 [ Old [ 0 DIK_MINUS ] 0x00000004 ]
    QUICKSLOT_36 [ Old [ 0 DIK_EQUALS ] 0x00000004 ]
    QUICKSLOT_37 [ Old [ 0 DIK_1 ] 0x00000001 ]
    QUICKSLOT_38 [ Old [ 0 DIK_2 ] 0x00000001 ]
    QUICKSLOT_39 [ Old [ 0 DIK_3 ] 0x00000001 ]
    QUICKSLOT_40 [ Old [ 0 DIK_4 ] 0x00000001 ]
    QUICKSLOT_41 [ Old [ 0 DIK_5 ] 0x00000001 ]
    QUICKSLOT_42 [ Old [ 0 DIK_6 ] 0x00000001 ]
    QUICKSLOT_43 [ Old [ 0 DIK_7 ] 0x00000001 ]
    QUICKSLOT_44 [ Old [ 0 DIK_8 ] 0x00000001 ]
    QUICKSLOT_45 [ Old [ 0 DIK_9 ] 0x00000001 ]
    QUICKSLOT_46 [ Old [ 0 DIK_0 ] 0x00000001 ]
    QUICKSLOT_47 [ Old [ 0 DIK_MINUS ] 0x00000001 ]
    QUICKSLOT_48 [ Old [ 0 DIK_EQUALS ] 0x00000001 ]
    QUICKSLOT_BACKPACK [ Old [ 0 DIK_I ] ]
    QUICKSLOT_BACKPACK1 [ Old [ 0 DIK_F1 ] 0x00000002 ]
    QUICKSLOT_BACKPACK2 [ Old [ 0 DIK_F2 ] 0x00000002 ]
    QUICKSLOT_BACKPACK3 [ Old [ 0 DIK_F3 ] 0x00000002 ]
    QUICKSLOT_BACKPACK4 [ Old [ 0 DIK_F4 ] 0x00000002 ]
    QUICKSLOT_BACKPACK5 [ Old [ 0 DIK_F5 ] 0x00000002 ]
    QUICKSLOT_BACKPACK6 [ Old [ 0 DIK_F6 ] 0x00000002 ]
    QUICKSLOT_SKILLMODE [ Old [ 0 DIK_GRAVE ] ]
    QUICKSLOT_CTRL_META [ Old [ 0 DIK_LCONTROL ] ]
    QUICKSLOT_CTRL_META [ Old [ 0 DIK_RCONTROL ] ]
    QUICKSLOT_ALT_META [ Old [ 0 DIK_RALT ] ]
    QUICKSLOT_SHIFT_META [ Old [ 0 DIK_LSHIFT ] ]
    QUICKSLOT_SHIFT_META [ Old [ 0 DIK_RSHIFT ] ]
    SELECTION_NEAREST_FOE [ Old [ 0 DIK_BACK ] ]
    SELECTION_NEXT_FOE [ Old [ 0 DIK_TAB ] ]
    SELECTION_PREVIOUS_FOE [ Old [ 0 DIK_TAB ] 0x00000001 ]
    SELECTION_NEAREST_PC [ Old [ 0 DIK_TAB ] 0x00000002 ]
    USE [ User [ 0 DIK_F ] ]
    SELECTION_NEAREST_ITEM [ Old [ 0 DIK_DELETE ] ]
    SELECTION_NEAREST_PC [ Old [ 0 DIK_F9 ] ]
    SELECTION_NEXT_PC [ Old [ 0 DIK_F9 ] 0x00000001 ]
    SELECTION_PREVIOUS_PC [ Old [ 0 DIK_F9 ] 0x00000002 ]
    SELECTION_NEAREST_CREATURE [ Old [ 0 DIK_F10 ] ]
    SELECTION_NEXT_CREATURE [ Old [ 0 DIK_F10 ] 0x00000001 ]
    SELECTION_PREVIOUS_CREATURE [ Old [ 0 DIK_F10 ] 0x00000002 ]
    SELECTION_SELF [ Old [ 0 DIK_BACKSLASH ] ]
    SELECTION_NEAREST_FELLOW [ Old [ 0 DIK_F8 ] ]
    USE [ Old [ 0 DIK_U ] ]
    ToggleJournalPanel [ Old [ 0 DIK_C ] ]
    ToggleQuestPanel [ Old [ 0 DIK_L ] ]
    ToggleAccomplishmentPanel [ Old [ 0 DIK_L ] 0x00000001 ]
    ToggleSkillPanel [ Old [ 0 DIK_K ] ]
    ToggleSocialPanel [ Old [ 0 DIK_O ] ]
    ToggleTraitPanel [ Old [ 0 DIK_J ] ]
    ToggleCraftingPanel [ Old [ 0 DIK_T ] ]
    ToggleAssistancePanel [ Old [ 0 DIK_F7 ] ]
    ToggleMapPanel [ Old [ 0 DIK_M ] ]
    TogglePaperItemPanel [ Old [ 0 DIK_B ] ]
    ToggleMountedCombatUI [ Old [ 0 DIK_M ] 0x00000001 ]
    ToggleBigBattlesUI [ Old [ 0 DIK_B ] 0x00000001 ]
    ToggleCollectionUI [ Old [ 0 DIK_C ] 0x00000001 ]
    ToggleFilterUI [ Old [ 0 DIK_R ] 0x00000004 ]
    ShowRewardTrack [ Old [ 0 DIK_I ] 0x00000001 ]
    ToggleItemSellLock [ Old [ 0 DIK_T ] 0x00000002 ]
    ToggleHiddenDragBoxes [ Old [ 0 DIK_BACKSLASH ] 0x00000002 ]
    UI_TOGGLE [ Old [ 0 DIK_F12 ] ]
    UI_TOGGLE [ Old [ 0 DIK_U ] 0x00000002 ]
    CaptureScreenshot [ Old [ 0 DIK_F11 ] ]
    ADMIN_LIGHT [ Old [ 0 DIK_F10 ] 0x00000004 ]
    TOOLTIP_DETACH [ Old [ 0 DIK_H ] ]
    SelectFellowOne [ Old [ 0 DIK_F1 ] ]
    SelectFellowTwo [ Old [ 0 DIK_F2 ] ]
    SelectFellowThree [ Old [ 0 DIK_F3 ] ]
    SelectFellowFour [ Old [ 0 DIK_F4 ] ]
    SelectFellowFive [ Old [ 0 DIK_F5 ] ]
    SelectFellowSix [ Old [ 0 DIK_F6 ] ]
    AssistFellowTwo [ Old [ 0 DIK_F2 ] 0x00000001 ]
    AssistFellowThree [ Old [ 0 DIK_F3 ] 0x00000001 ]
    AssistFellowFour [ Old [ 0 DIK_F4 ] 0x00000001 ]
    AssistFellowFive [ Old [ 0 DIK_F5 ] 0x00000001 ]
    AssistFellowSix [ Old [ 0 DIK_F6 ] 0x00000001 ]
    LOGOUT [ Old [ 0 DIK_ESCAPE ] 0x00000001 ]
    SHOW_NAMES [ Old [ 0 DIK_N ] ]
    ToggleAdminPanel [ Old [ 0 DIK_A ] 0x00000002 ]
    ToggleOptionsPanel [ Old [ 0 DIK_O ] 0x00000002 ]
    ToggleThreatTrackerPanel [ Old [ 0 DIK_H ] 0x00000002 ]
    ToggleSkirmishPanel [ Old [ 0 DIK_K ] 0x00000002 ]
    ToggleWorldJoin [ Old [ 0 DIK_J ] 0x00000002 ]
    ToggleWebStore [ Old [ 0 DIK_S ] 0x00000002 ]
    QUICKSLOT_ALT_META [ Old [ 0 DIK_LALT ] ]
    VOICECHAT_TALK [ Old [ 0 DIK_Z ] ]
    SELECTION_NEXT_ITEM [ User [ 0 DIK_R ] ]
    FindItems [ Old [ 0 DIK_F ] 0x00000004 ]
    PointerX [ Old [ 1 DIMOFS_X ] ]
    PointerY [ Old [ 1 DIMOFS_Y ] ]
    SelectLeft [ Old [ 1 DIMOFS_BUTTON0 ] ]
    CameraInstantMouseSteer [ Old [ 1 DIMOFS_BUTTON1 ] ]
    SelectDblLeft [ Old [ 1 DIMOFS_BUTTON0 ] 0x00000000 MouseDblClick ]
    SelectDblRight [ Old [ 1 DIMOFS_BUTTON1 ] 0x00000000 MouseDblClick ]
    TapLeft [ Old [ 1 DIMOFS_BUTTON0 ] 0x00000000 Tap ]
    SelectRight [ Old [ 1 DIMOFS_BUTTON1 ] 0x00000000 Tap ]
    EscapeKey [ Old [ 0 DIK_ESCAPE ] ]
    AcceptInput [ Old [ 0 DIK_RETURN ] ]
    AcceptInput [ Old [ 0 DIK_NUMPADENTER ] ]
    START_COMMAND [ Old [ 0 DIK_SLASH ] ]
    CaptureScreenshot [ Old [ 0 DIK_P ] 0x00000002 ]
    ToggleDebugHUD [ Old [ 0 DIK_F ] 0x00000002 ]
    ToggleBlockUI [ Old [ 0 DIK_F9 ] 0x00000007 ]
    TogglePerfGraph [ Old [ 0 DIK_F10 ] 0x00000007 ]
    ToggleMemoryGraph [ Old [ 0 DIK_F8 ] 0x00000007 ]
    ToggleProfiler [ Old [ 0 DIK_F11 ] 0x00000007 ]
    ToggleEntityNodeLabels [ Old [ 0 DIK_F12 ] 0x00000007 ]
    ToggleStringTokenDebugger [ Old [ 0 DIK_GRAVE ] 0x00000004 ]
    CameraReset [ Old [ 0 DIK_NUMPAD0 ] ]
    CameraInstantMoveToward [ Old [ 1 DIMOFS_Z AxisPositive ] ]
    CameraInstantMoveAway [ Old [ 1 DIMOFS_Z AxisNegative ] ]
    CameraRotateLeft [ Old [ 0 DIK_NUMPAD4 ] ]
    CameraRotateRight [ Old [ 0 DIK_NUMPAD6 ] ]
    CameraRotateUp [ Old [ 0 DIK_NUMPAD8 ] ]
    CameraRotateDown [ Old [ 0 DIK_NUMPAD5 ] ]
    CameraRotateDown [ Old [ 0 DIK_NUMPAD2 ] ]
    CameraRotateRollReset [ Old [ 0 DIK_NUMPADSLASH ] ]
    CameraDecreaseFOV [ Old [ 0 DIK_NUMPAD3 ] ]
    CameraIncreaseFOV [ Old [ 0 DIK_NUMPAD1 ] ]
    CameraRotateRollRight [ Old [ 0 DIK_NUMPADPLUS ] ]
    CameraMoveToward [ Old [ 0 DIK_NUMPAD9 ] ]
    CameraRotateRollLeft [ Old [ 0 DIK_NUMPADMINUS ] ]
    CameraMoveAway [ Old [ 0 DIK_NUMPAD7 ] ]
    CameraFirstPerson [ Old [ 0 DIK_NUMPADSTAR ] ]
    CameraFlightMode [ Old [ 0 DIK_PERIOD ] 0x00000002 ]
    AltTab [ Old [ 0 DIK_TAB ] 0x00000004 ]
    CursorPreviousPage [ Old [ 0 DIK_PGUP ] ]
    CursorNextPage [ Old [ 0 DIK_PGDN ] ]
    CursorStartOfLine [ Old [ 0 DIK_HOME ] ]
    CursorEndOfLine [ Old [ 0 DIK_END ] ]
  ]

  EditControls
  [
    ToggleAssistancePanel [ Old [ 0 DIK_F1 ] ]
    CursorCharLeft [ Old [ 0 DIK_LEFTARROW ] ]
    CursorCharRight [ Old [ 0 DIK_RIGHTARROW ] ]
    CursorPreviousLine [ Old [ 0 DIK_UPARROW ] ]
    CursorNextLine [ Old [ 0 DIK_DOWNARROW ] ]
    CursorPreviousPage [ Old [ 0 DIK_PGUP ] ]
    CursorNextPage [ Old [ 0 DIK_PGDN ] ]
    CursorWordLeft [ Old [ 0 DIK_LEFTARROW ] 0x00000002 ]
    CursorWordRight [ Old [ 0 DIK_RIGHTARROW ] 0x00000002 ]
    CursorStartOfLine [ Old [ 0 DIK_HOME ] ]
    CursorStartOfDocument [ Old [ 0 DIK_HOME ] 0x00000002 ]
    CursorEndOfLine [ Old [ 0 DIK_END ] ]
    CursorEndOfDocument [ Old [ 0 DIK_END ] 0x00000002 ]
    AcceptInput [ Old [ 0 DIK_RETURN ] ]
    AcceptInput [ Old [ 0 DIK_NUMPADENTER ] ]
    EscapeKey [ Old [ 0 DIK_ESCAPE ] ]
    DeleteKey [ Old [ 0 DIK_DELETE ] ]
    BackspaceKey [ Old [ 0 DIK_BACK ] ]
  ]

  SelectionUI
  [
    CameraInstantMouseLook [ Old [ 1 DIMOFS_BUTTON0 ] ]
  ]

  MusicUI
  [
    MusicEndSong [ Old [ 0 DIK_GRAVE ] ]
    MUSIC_C3 [ Old [ 0 DIK_1 ] ]
    MUSIC_D3 [ Old [ 0 DIK_2 ] ]
    MUSIC_E3 [ Old [ 0 DIK_3 ] ]
    MUSIC_F3 [ Old [ 0 DIK_4 ] ]
    MUSIC_G3 [ Old [ 0 DIK_5 ] ]
    MUSIC_A3 [ Old [ 0 DIK_6 ] ]
    MUSIC_B3 [ Old [ 0 DIK_7 ] ]
    MUSIC_C4 [ Old [ 0 DIK_8 ] ]
    MUSIC_C4 [ Old [ 0 DIK_1 ] 0x00000001 ]
    MUSIC_D4 [ Old [ 0 DIK_2 ] 0x00000001 ]
    MUSIC_E4 [ Old [ 0 DIK_3 ] 0x00000001 ]
    MUSIC_F4 [ Old [ 0 DIK_4 ] 0x00000001 ]
    MUSIC_G4 [ Old [ 0 DIK_5 ] 0x00000001 ]
    MUSIC_A4 [ Old [ 0 DIK_6 ] 0x00000001 ]
    MUSIC_B4 [ Old [ 0 DIK_7 ] 0x00000001 ]
    MUSIC_C5 [ Old [ 0 DIK_8 ] 0x00000001 ]
    MUSIC_B2 [ Old [ 0 DIK_1 ] 0x00000002 ]
    MUSIC_Db3 [ Old [ 0 DIK_2 ] 0x00000002 ]
    MUSIC_Eb3 [ Old [ 0 DIK_3 ] 0x00000002 ]
    MUSIC_E3 [ Old [ 0 DIK_4 ] 0x00000002 ]
    MUSIC_Gb3 [ Old [ 0 DIK_5 ] 0x00000002 ]
    MUSIC_Ab3 [ Old [ 0 DIK_6 ] 0x00000002 ]
    MUSIC_Bb3 [ Old [ 0 DIK_7 ] 0x00000002 ]
    MUSIC_B3 [ Old [ 0 DIK_8 ] 0x00000002 ]
  ]

  MapPanel

  VendorBuyUI
  [
    ToggleStackDisplay [ Old [ 0 DIK_LSHIFT ] ]
    ToggleStackDisplay [ Old [ 0 DIK_RSHIFT ] ]
    ToggleQuantityDisplay [ Old [ 0 DIK_LALT ] ]
    ToggleQuantityDisplay [ Old [ 0 DIK_RALT ] ]
    ToggleFillStackDisplay [ Old [ 0 DIK_TAB ] ]
    SelectRight [ Old [ 1 DIMOFS_BUTTON1 ] 0x00000001 Up/Tap ]
  ]

  ScrollableControls

  ScrollableControls_Mouse
  [
    ScrollUp [ Old [ 1 DIMOFS_Z AxisPositive ] ]
    ScrollDown [ Old [ 1 DIMOFS_Z AxisNegative ] ]
  ]

  CopyAndPasteControls
  [
    CopyText [ Old [ 0 DIK_C ] 0x00000002 ]
    CutText [ Old [ 0 DIK_X ] 0x00000002 ]
    PasteText [ Old [ 0 DIK_V ] 0x00000002 ]
    CopyText [ Old [ 0 DIK_C ] 0x00000008 ]
    CutText [ Old [ 0 DIK_X ] 0x00000008 ]
    PasteText [ Old [ 0 DIK_V ] 0x00000008 ]
  ]

  DialogBoxes
  [
    FocusMoveLeft [ Old [ 0 DIK_LEFTARROW ] ]
    FocusMoveRight [ Old [ 0 DIK_RIGHTARROW ] ]
    FocusMoveUp [ Old [ 0 DIK_UPARROW ] ]
    FocusMoveDown [ Old [ 0 DIK_DOWNARROW ] ]
    FocusNext [ Old [ 0 DIK_TAB ] ]
    FocusPrevious [ Old [ 0 DIK_TAB ] 0x00000001 ]
    EscapeKey [ Old [ 0 DIK_ESCAPE ] ]
  ]

  DebugConsole
  [
    ToggleDebugConsole [ Old [ 0 DIK_GRAVE ] 0x00000002 ]
    ToggleDebugConsole [ Old [ 0 DIK_PAUSE ] ]
  ]

  StringTokenDebugger
  [
    ToggleStringTokenDebugger [ Old [ 0 DIK_GRAVE ] 0x00000004 ]
  ]
]
